@{
    ViewBag.Title = "Calendar";
}

@section Styles{
    <environment include="development">
            <link href="~/lib/fullcalendar/main.css" rel="stylesheet" />
            <script src="~/lib/fullcalendar/main.js"></script>
    </environment>
    <link ref="stylesheet" href="~/css/calendar.css" />
}

<div class="col-12 pt-2 bg-light" id="calendar-main">
    <div class="row">
        <div class="col-12 col-md-3 h-100">
            <div class="border border-dark">
                <div class="col-12 my-2">
                <h4>Calendars</h4>
                </div>
                <div class="col-12 my-2">
                    <div class="">Get Calendar By:</div>
                    <select v-model="selectedFilter" id="calendarFilter" name="calendarFilter" 
                            class="w-100 btn dropdown-toggle border border-dark">
                        <option value="" selected>Choose...</option>
                        <option v-for="option in filters" v-bind:value="option.value">
                            {{ option.text }}
                      </option>
                    
                    </select>
                </div>
                <div class="col-12 my-2"> 
                    <div class="">Select {{getSelectedFilterText}}:</div>
                    <select v-model="selectedFilterValue" class="w-100 btn dropdown-toggle border border-dark" 
                        id="filterValuesDropDown" disabled>
                        <option value="-1" selected>Choose...</option>
                      <option v-for="option in getFilterValueOptions" v-bind:value="option.id">
                        {{ option.name }}
                      </option>
                    </select>
                </div>
                <div class="col-12 my-2">
                    <button v-on:click="renderCalendar" class="mx-auto btn btn-primary">Get Calendar</button>
                </div>
            </div>
            <div class="my-2 border border-dark" v-if="null != getSelectedEvent">
                <div class="col-12 my-2">
                    <h4>Appointment Details</h4>
                </div>
                <div class="col-12">
                    <div class="my-2">Surgeon : {{getSelectedEvent.surgeon}} </div>
                    <div class="my-2">Patient : {{getSelectedEvent.patient}}</div>
                    <div class="my-2">Surgery : {{getSelectedEvent.surgery}}</div>
                    <div class="my-2">Theatre : </div>
                    <div class="my-2">Start Time : {{getSelectedEvent.startTime}}</div>
                    <div class="my-2">Duration : {{getSelectedEvent.duration}}</div>
                    <div class="my-2">EndTime : {{getSelectedEvent.endTime}}</div>

                    <div class="my-2">Priority : 
                        <span v-if="getSelectedEvent.priority == 0" class="text-success">Low</span>
                        <span v-else-if="getSelectedEvent.priority == 1" class="text-warning">Medium</span>
                        <span v-else-if="getSelectedEvent.priority == 2" class="text-danger">High</span>
                    </div>
                </div>
            </div>
            

        </div>
        <div class="col-12 col-md-9">
            <div id="calendar"></div>
        </div>
    </div>
</div>

@*<div id="deleteEventModal">             
      <h2>Event</h2>

      <p id="eventText"></p>

      <button id="deleteButton">Delete</button>
      <button id="closeButton">Close</button>
</div>*@

@section Scripts{
    <script src="~/lib/vue/dist/vue.global.js"></script>
    <script src="~/js/calendar/calendar-requests.js"></script>
    <script src="~/js/calendar/calendar.js"></script>
    <script src="~/js/calendar/calendar-vue-app.js"></script>
    <script src="~/js/calendar/calendar-main.js"></script>
}