@{
    ViewBag.Title = "Calendar";
}

@section Styles{
    <environment include="development">
            <link href="~/lib/fullcalendar/main.css" rel="stylesheet" />
            <script src="~/lib/fullcalendar/main.js"></script>
    </environment>
    <link ref="stylesheet" href="~/css/calendar.css" />
}

<div class="container px-1 pt-2" id="calendar-main">
    <div class="row">
        <div class="col-12 col-md-3 bg-light h-100 border border-dark">
            <div class="col-12 my-2">
                <h4>Calendars</h4>
            </div>
            <div class="col-12 my-2">
                <label>Get Calendar By:</label>
                <select v-model="selectedFilter" id="calendarFilter" name="calendarFilter" 
                        class="btn dropdown-toggle border border-dark">
                    <option value="" selected>Choose...</option>
                    <option v-for="option in getFilterValueOptions" v-bind:value="option.id">
                    {{ option.name }}
                  </option>
                    <option value="theatres" >Theatre</option>
                    <option value="theatreTypes" >Theatre Type</option>
                    <option value="surgeryTypes" >Surgery Type</option>
                    <option value="surgeons" selected>Surgeon</option>
                </select>
            </div>
            <div class="col-12 my-2"> 
                <label>Select {}:</label>
                <select v-model="selected" class="btn dropdown-toggle border border-dark">
                    <option value="-1" selected>Choose...</option>
                  <option v-for="option in getFilterValueOptions" v-bind:value="option.id">
                    {{ option.name }}
                  </option>
                </select>
            </div>
            <div class="col-12 my-2">
                <button v-on:click="renderCalendar" class="btn btn-primary">Get Calendar</button>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div id="calendar"></div>
        </div>
    </div>
</div>

<div id="deleteEventModal">             
      <h2>Event</h2>

      <p id="eventText"></p>

      <button id="deleteButton">Delete</button>
      <button id="closeButton">Close</button>
</div>

@section Scripts{
    <script src="~/lib/vue/dist/vue.global.js"></script>
    <script src="~/js/calendar/calendar-requests.js"></script>
    <script src="~/js/calendar/calendar.js"></script>
    <script src="~/js/calendar/calendar-main.js"></script>
}