<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <environment include="development">
            <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
            <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" />
    </environment>
    <environment exclude="development">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    </environment>
    <link rel="stylesheet" href="~/css/layout.css" />
    @RenderSection("Styles", required: false)

    <link href="~/lib/sweetalert2/dist/sweetalert2.css" rel="stylesheet">
</head>
<body>
    
        <nav class="pl-2 navbar navbar-expand-md navbar-light border-bottom bg-info">
            <a href='#' class="navbar-brand">IntelliSurgery</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" >
                 <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a asp-controller="Appointment" asp-action="Index" class="nav-link">
                        Add Appointment 
                        <span><i class="fas fa-user-plus"></i></span>
                        </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Surgeries" asp-action="Index" class="nav-link">
                        Appointments Table
                        <span><i class="fas fa-table "></i></span></a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Calendar" asp-action="Index" class="nav-link">
                        Surgery Calendar
                        <span><i class="far fa-calendar-alt"></i></span>
                    </a>
                </li>
            </ul>
            </div>
        </nav>

    @RenderBody()
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.js"></script>
    <script src="~/js/common-functions.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
