*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
    background-color: #F1F1F1;
    /*overflow:hidden;*/
}
#logo {
    background: url("../assets/images/IntelliSurgery.png") no-repeat;
    background-size:contain;
    background-position:center;
}
.form_class {
/*    max-width: 400px;*/
    margin: 20px auto;
    padding: 20px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    height: 89vh;
}
.form-inline {
    display: flex;
    flex-flow: row wrap;
    /*align-items: center;*/
}
h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom:10px;
}


select {
    padding: 6px;
    border-radius: 2px;
}

button {
    padding: 10px 39px 10px 39px !important;
    color: #000;
    background-color: palevioletred;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid indianred;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 20px;
}

.legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display: inline;
}

.number {
    background-color: #e3f2fd;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
    margin-bottom: 10px;
}
.scrollbar {
    /*float: left;*/
    /*width: 65px;*/
    background: #f4f7f8;
    overflow-y: scroll;
    overflow-x: hidden;
    width: auto;
}

.force-overflow {
    min-height: 300px;
}

.scrollbar-info::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.scrollbar-info::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #33b5e5;
}




@media screen and (min-width: 480px) {
    form_class {
        max-width: 480px;
    }
    
}

.myerror{
    color:red;
    display:none;
}