html, body {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

#calendar {
    max-width: 1100px;
}
#deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
}

.logo-bg{
    background:url("../assets/images/IntelliSurgery.png") no-repeat;
    background-position:center;
}

#calendar-main{
    height : 94vh;
    overflow: hidden;
}

#right-side {
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-height: max-content;
    overflow-y: auto;
}