#loading {
    position: absolute;
    z-index: 99;
    width: 100%;
    display: none;
}

.overlay {
    height: 94vh;
    background-color: rgba(255,255,255,0.5);
}

.spinner {
    width: 200px;
    height: 200px;
}
