@{
    ViewBag.Title = "Add Appointment";
}

@section Styles{
    <link href="~/css/appointment.css" rel="stylesheet"/>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2" id="logo">
        </div>
        <div class="col-lg-5">
            <div class="form_class border border-dark">
                <h1> Patient </h1>

                <div class="legend"><span class="number bg-info">1</span> Validate Patient </div>
                <div class="row">
                    <div class="col-2 pr-0 my-auto">
                        <label for="patient_id" class="mr-sm-2">Patient ID:</label>
                    </div>

                    <div class="col-5 pr-0 my-auto">
                        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="" id="patient_id" required>
                    </div>

                    <div class="col-5 my-auto">
                        <button class="btn btn-info h-100" id="validate-patient-btn">Validate Patient</button>
                    </div>
                </div>
                <h6 id="idCheck" class="myerror"></h6>

                <div class="col-12 legend">
                    <div class="row"><span class="number bg-info">2</span> Patient's Details
                        <span class="ml-auto"><i onclick="clearAllPatientFields()" class="fas fa-eraser"></i>
                        </span>
                    </div>
                </div>
                <div class="">
                    <div class="mb-2 row scrollbar scrollbar-info">
                        <div class="col-md-12">
                            <label for="patient_name">Name:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="patient_name" name="patient_name">
                            <h6 id="nameCheck" class="myerror"></h6>
                        </div>

                        <div class="col-md-7">
                            <label for="birthday">Birthday:</label>
                            <input type="date" id="birthday" name="birthday" class="form-control mb-2 mr-sm-2">
                            <h6 id="birthdayCheck" class="myerror"></h6>
                        </div>

                        <div class="col-md-5">
                            <label>Gender:</label>
                            <div class="form-check">
                                <input class="form-check-input gender" type="radio" value="1" id="gender_male" name="gender">
                                <label class="form-check-label" for="gender_male">
                                        Male
                                    </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input gender" type="radio" value="2" id="gender_female" name="gender">
                                <label class="form-check-label" for="gender_female">
                                        Female
                                    </label>
                            </div>
                            <h6 id="genderCheck" class="myerror"></h6>
                        </div>

                        <div class="col-md-6">
                            <label for="weight" class="form-label">Weight:</label>
                            <input type="text" class="form-control" id="weight" placeholder="kg">
                            <h6 id="weightCheck" class="myerror"></h6>
                        </div>

                        <div class="col-md-6">
                            <label for="height" class="form-label">Height:</label>
                            <input type="text" class="form-control" id="height" placeholder="cm">
                            <h6 id="heightCheck" class="myerror"></h6>
                        </div>
                        <div class="col-12 my-1">
                            <div class="row">
                                <div class="col-3 pr-0">
                                    <label for="asatype" class="form-label"> ASA Status:</label>
                                </div>
                                <div class="col-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="1" id="status1" name="asa">
                                        <label class="form-check-label" for="status1">
                                                I
                                            </label>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="2" id="status2" name="asa">
                                        <label class="form-check-label" for="status2">
                                                II
                                            </label>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="2" id="status3" name="asa">
                                        <label class="form-check-label" for="status3">
                                                III
                                            </label>
                                    </div>
                                </div>
                                <h6 id="asaCheck" class="myerror"></h6>
                                <div class="col-3"></div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <label for="diseases" class="form-label"> Diseases:</label>

                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="disease_1">
                                <label class="form-check-label" for="disease_1">Disease 1</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="disease_1">
                                <label class="form-check-label" for="disease_1">Disease 1</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="disease_1">
                                <label class="form-check-label" for="disease_1">Disease 1</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="disease_1">
                                <label class="form-check-label" for="disease_1">Disease 1</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="disease_1">
                                <label class="form-check-label" for="disease_1">Disease 1</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="disease_1">
                                <label class="form-check-label" for="disease_1">Disease 1</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="disease_1">
                                <label class="form-check-label" for="disease_1">Disease 1</label>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="add-patient-btn" class="btn btn-info mb-0 mb-1" type="submit">Add Patient</button>
                <button id="update-patient-btn" class="btn btn-primary mb-0" type="submit" style="display:none;">Update Patient</button>

            </div>
        </div>
        <div class="col-lg-5">
            <div class="form_class border border-dark shadow">
                <h1> Appointment </h1>

                <div class="col-12 legend">
                    <div class="row"><span class="number bg-info">3</span> Surgery Requirements
                        <span class="ml-auto"><i onclick="clearAllAppointmentFields()" class="fas fa-eraser"></i>
                        </span>
                    </div>
                </div>

                <label for="surgery">Surgery:</label>
                <select id="surgery" name="user_surgery">
                    <option value="-1" selected hidden>Choose...</option>
                    
                </select>
                <h6 id="surgeryCheck" class="myerror"></h6>

                <label for="surgeon">Surgeon:</label>
                <select id="surgeon" name="user_surgeon">
                    <option value="-1" selected hidden>Choose...</option>
                    
                </select>
                <h6 id="surgeonCheck" class="myerror"></h6>

                <label> Anastheasists: </label>
                <div class="form-check mb-2">
                    <input type="radio" class="form-check-input" id="not_required" name="anastheasist">
                    <label class="form-check-label" for="not_required">Not Required</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="required" name="anastheasist">
                    <label class="form-check-label" for="required">Required</label>
                </div>
                <h6 id="anastheasistCheck" class="myerror"></h6>

                <label for="anasthesia_type">Anesthesia Type:</label>
                <select id="anasthesia_type" name="user_anas_type" class="select">
                    <option value="-1" selected hidden>Choose...</option>
                </select>
                <h6 id="anasthesia_typeCheck" class="myerror"></h6>

                <label for="or_theatre">Theatre Type:</label>
                <select id="theatreType" name="user_or">
                    <option value="-1" selected hidden>Choose...</option>
                </select>
                <h6 id="theatreCheck" class="myerror"></h6>

                <label>Importance:</label>
                <div class="col-12">
                    <div class="form-check col-2">
                        <input class="form-check-input priority" type="radio" value="2" id="importance_high" name="importance">
                        <label class="form-check-label" for="importance_high">
                        High
                    </label>
                    </div>
                    <div class="form-check col-2">
                        <input class="form-check-input priority" type="radio" value="1" id="importance_medium" name="importance">
                        <label class="form-check-label" for="importance_medium">
                        Medium
                    </label>
                    </div>
                    <div class="form-check col-2">
                        <input class="form-check-input priority" type="radio" value="0" id="importance_low" name="importance">
                        <label class="form-check-label" for="importance_low">
                            Low
                        </label>
                    </div>
                    <h6 id="importanceCheck" class="myerror"></h6>
                    <br />
                    <button id="add-appointment-btn" class="btn btn-info mb-0" type="submit">Add Appointment</button>

                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/appointment/appointment-requests.js"></script>
    <script src="~/js/appointment/appointment-validations.js"></script>
    <script src="~/js/appointment/patient.js"></script>
    <script src="~/js/appointment/appointment.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="~/js/appointment/appointment-main.js"></script>
}