@{
    ViewBag.Title = "Add Appointment";
}

@section Styles{
    <link href="~/css/appointment.css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
}

<div class="container-fluid" >
        <div class="row">
        <div class="col-lg-2" id="logo">
        </div>
        <div class="col-lg-5">
            <div class="form_class border border-dark">
                                <h1> Patient </h1>

                <fieldset>
                    <legend><span class="number bg-info">1</span> Validate Patient </legend>

                    <label for="patient_id" class="mr-sm-2">Patient ID:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="" id="patient_id" required>

                    <button type="submit" class="btn btn-info" id="validate-patient-btn">Validate Patient</button>
                </fieldset>
            
            
                <fieldset>
                    <legend><span class="number bg-info">2</span> Patient's Details </legend>

                    <div class="row">
                        <div class="col-md-12">
                        <label for="patient_name">Name:</label>
                        <input type="text" class="form-control mb-2 mr-sm-2" id="patient_name" name="patient_name">
                        </div>
                        <div class="col-md-7">
                             <label for="birthday">Birthday:</label>
                        <input type="date" id="birthday" name="birthday" class="form-control mb-2 mr-sm-2">
                        </div>
                        <div class="col-md-5">
                            <label>Gender:</label>
                            <div class="form-check">
                                <input class="form-check-input gender" type="radio" value="0" id="gender_male" name="gender" checked>
                                <label class="form-check-label" for="gender_male">
                                    Male
                                </label>                        
                            </div>
                            <div class="form-check">
                                <input class="form-check-input gender" type="radio" value="1" id="gender_female" name="gender">
                                <label class="form-check-label" for="gender_female">
                                    Female
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="weight" class="form-label">Weight:</label>
                            <input type="text" class="form-control" id="weight" placeholder="kg">
                        </div>
                        <div class="col-md-6">
                            <label for="height" class="form-label">Height:</label>
                            <input type="text" class="form-control" id="height" placeholder="cm">
                        </div>
                    </div>

                    <button id="add-patient-btn" class="btn btn-info" type="submit">Add Patient</button>
                    <button id="update-patient-btn" class="btn btn-primary" type="submit" style="display:none;">Update Patient</button>
                    
                </fieldset>
                

            </div>
        </div>
        <div class="col-lg-5">
            <div class="form_class border border-dark">
                                <h1> Appointment </h1>

                <fieldset>

                    <legend><span class="number bg-info">3</span> Surgery Requirements</legend>

                    <label for="surgery">Surgery:</label>
                    <select id="surgery" name="user_surgery">
                        <option value="-1" selected>Choose...</option>
                    </select>

                    <label for="surgeon">Surgeon:</label>
                    <select id="surgeon" name="user_surgeon">
                        <option value="-1" selected>Choose...</option>
                        @*<optgroup label="Orthopedic Surgeon">
                            <option value="doctor_1"> Dr. Indika Ellawala </option>
                            <option value="doctor_2"> Dr. Asela Gunawardana </option>
                            <option value="doctor_3"> Dr. Pavan Pitiwaduge </option>
                        </optgroup>*@
                        
                    </select>
                    <label> Anastheasists: </label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="required" name="anastheasist" value="Required" checked>
                        <label class="form-check-label" for="required">Required</label>
                    </div>
                    <div class="form-check mb-2">
                        <input type="radio" class="form-check-input" id="not_required" name="anastheasist" value="Not Required">
                        <label class="form-check-label" for="not_required">Not Required</label>
                    </div>
                    <label for="anasthesia_type">Anesthesia Type:</label>
                    <select id="anasthesia_type" name="user_anas_type">
                        <option value="-1" selected>Choose...</option>
                        @*<option value="type_1">A</option>
                        <option value="type_2">B</option>
                        <option value="type_3">C</option>*@

                    </select>
                    <label for="or_theatre">Theatre Type:</label>
                    <select id="or_theatre" name="user_or">
                        <option value="-1" selected>Choose...</option>
                        @*<option value="or_1">OR1</option>
                        <option value="or_2">OR2</option>
                        <option value="or_3">OR3</option>*@

                    </select>


                    <label>Importance:</label>
                    <div class="col-12 mb-5">
                        <div class="row ">
                        <div class="form-check col-4">
                        <input class="form-check-input priority" type="radio" value="2" id="importance_high" name="importance">
                        <label class="form-check-label" for="importance_high">
                            High
                        </label>
                    </div>
                    <div class="form-check col-4">
                        <input class="form-check-input priority" type="radio" value="1" 
                            id="importance_medium" name="importance" checked>
                        <label class="form-check-label" for="importance_medium" >
                            Medium
                        </label>
                    </div>
                    <div class="form-check col-4">
                           <input class="form-check-input priority" type="radio" value="0" id="importance_low" name="importance">
                            <label class="form-check-label" for="importance_low">
                                Low
                            </label>
                    </div>
                    </div>
                    </div>
                    

                <button id="add-appointment-btn" class="btn btn-info" type="submit">Add Appointment</button>

                </fieldset>


            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/appointment/requests.js"></script>
    <script src="~/js/appointment/patient.js"></script>
    <script src="~/js/appointment/appointment.js"></script>
    <script src="~/js/appointment/main.js"></script>
}