@{
    ViewBag.Title = "Admin";
}

@section Styles{
    <link href="~/css/admin.css" rel="stylesheet"/>
}

<h1> Admin Site </h1>
    <div class="row">
        <div class="col-md-6">
            <div class="shadow-lg p-3 mb-5 bg-transparent rounded">
                <div class="form_class">


                    <fieldset>

                        <legend><span class="number">1</span> Speciality </legend>
                        <h6>Enter the Speciality:</h6>
                        <div class="form-row">

                            <div class="col-md-6">
                                <label for="speciality" class="sr-only">Name</label>
                                <input type="text" class="form-control" id="speciality">

                            </div>

                            <div class="col-md-1">
                                <button id="add-speciality-btn" type="submit" class="btn btn-primary mb-2" class="form-control">Add</button>
                            </div>

                            <div class="col-md-5">

                                <div class="col">
                                    <p>
                                        <a class="btn btn-primary" data-toggle="collapse" href="#specialitylist" role="button" aria-expanded="false" aria-controls="specialitylist">List</a>

                                    </p>
                                    <div class="collapse multi-collapse" id="specialitylist">
                                        <div class="card card-body">
                                            @*Added Specialities:*@
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>


        </div>




        <div class="col-md-6">
            <div class="shadow-lg p-3 mb-5 bg-transparent rounded">
                <div class="form_class">

                    <fieldset>

                        <legend><span class="number">2</span> Surgeon </legend>

                        <h6> Speciality: </h6>

                        <div class="form-row">
                            <div class="col-md-5">


                                <label for="surgeon" class="sr-only">Speciality :</label>
                                <select id="surgeon" name="user_surgeon" class="btn btn-info dropdown-toggle">
                                    <option selected>Choose...</option>

                                    <option value="Spec_1"> Orthopedic Surgeon </option>
                                    <option value="Spec_2"> Cardiovascular Surgeon </option>
                                    <option value="Spec_3"> Gynaecologist </option>

                                </select>


                            </div>
                            <div class="col-md-4">
                                <label for="inlineFormInputName2" class="sr-only">Name</label>
                                <input type="text" class="form-control" id="inlineFormInputName2">

                            </div>

                            <div class="col-md-1">
                                <button type="submit" class="btn btn-primary mb-2" class="form-control">Add</button>
                            </div>
                            <div class="col-md-2">

                                <div class="col-md-12">
                                    <p>
                                        <a class="btn btn-primary" data-toggle="collapse" href="#surgeonlist" role="button" aria-expanded="false" aria-controls="surgeonlist">List</a>

                                    </p>
                                    <div class="collapse multi-collapse" id="surgeonlist">
                                        <div class="card card-body">
                                            @*Anim pariatur cliche reprehenderit,*@
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </fieldset>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
    <div class="col-md-6">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="form_class">


                <fieldset>

                    <legend><span class="number">3</span> Surgeries </legend>
                    <h6>Enter the Surgery :</h6>
                    <div class="form-row">
                       
                        <div class="col-md-6 mb-1">
                            <label for="surgery" class="sr-only">Name</label>
                            <input type="text" class="form-control" id="surgery">

                        </div>

                        <div class="col-md-1 mb-6">
                            <button id="add-surgery-btn" type="submit" class="btn btn-primary mb-2" class="form-control">Add</button>
                        </div>

                        <div class="col-md-5">

                            <div class="col">
                                <p>
                                    <a class="btn btn-primary" data-toggle="collapse" href="#surgerylist" role="button" aria-expanded="false" aria-controls="surgerylist">List</a>

                                </p>
                                <div class="collapse multi-collapse" id="surgerylist">
                                    <div class="card card-body">
                                        @*Anim pariatur cliche reprehenderit,*@
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </fieldset>
        </div>
        </div>

    </div>
    </div>

    <div class="col-md-6"></div>

@section Scripts{
    <script src="~/js/admin/requests.js"></script>
    <script src="~/js/admin/speciality.js"></script>
    <script src="~/js/admin/surgeries.js"></script>
    <script src="~/js/admin/admin-main.js"></script>
}